{% extends 'booking/base.html' %}

{% block title %}Password Changed{% endblock %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-6 col-lg-5">
        <div class="card shadow-sm rounded-3 p-4 text-center">
            <h2 class="mb-4">Password Changed Successfully</h2>
            <p>Your password has been successfully updated. You can now log in with your new password.</p>
            <a href="{% url 'login' %}" class="btn btn-primary mt-3 w-100">Log in</a>
        </div>
    </div>
</div>
{% endblock %}
